* {
    font-family: Lucida Calligraphy;
    min-width: auto;
    margin: auto;

  }

body {
      min-width: 500px;
      background-image:url('Trees_1920x1234.png');
}

.profileBody {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 95%;
    height: 100%;
    color: #141269;
    font-size: 20px;
  }


#head1{
    text-align: center;
}

span.ib {
  display: inline;
  min-width: 250px;
}
