*{
    font-family: "Lucida Calligraphy";
    margin: 10px;
    max-width: auto;
}

body{
    min-width: 500px;
    background-color: rgba(69,207,69,0.7);
    background-image:url('icnMr5.jpg');
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
    color: rgb(69,69,69);
    font-size: 20px;
}

.profileBody {
    /*display: inline-block;
    background-color: white;*/
    margin-top: 6px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    height: 100%;
  }

#head1{
    background-color: rgba(69,207,138,0.3);
    text-align: center;
}

.ib {
  display: inline;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
}
